html {
	overflow-y: scroll; /* prevent jump */
}

body {
	margin-top: 60px; // leave room for flashes
}

.alert {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1001;
	width: 100%;
	text-align: center;
}

.issue-priority {
	.clickable;

	&.issue-priority-critical {
		color: @orange;

		&.enabled:hover {
			color: darken(@orange, 10%);
		}
	}

	&.issue-priority-normal {
		color: @grayLighter;

		&.enabled:hover {
			color: darken(@grayLighter, 10%);
		}
	}
}


.notificationToggle {
	cursor: pointer;
	color: #7A6A53;

	&:hover {
		color: #999;
	}
}

#loggedInUser {
	position: absolute;
	right: 0;
	bottom: 0;
	line-height: 2em;
}

#messages {
	border: 1px solid @inputBorder;
	border-radius: 0.4em;
	font-size: 0.9em;

	height: 15em;
	list-style-type: none;
	padding: 0.6em;
	overflow: auto;
	margin: 0.2em 0;
	resize: vertical;

	.speaker {
		font-weight: bold;
	}

	.system {
		font-style: italic;
	}

	.has-details:hover .message {
		.hovered;
	}
}

#commandList {
	padding: 1em;
	background-color: #eee;
	margin: 0;
	.border-radius(3px);

	font-family: monospace;
	font-size: 0.9em;
}

#onlineUsers {
	font-size: 0.9em;
	text-align: right;

	.onlineUser + .onlineUser:before {
		content: ', ';
	}
}

#messageInput {
	.input-block-level;
	font-size: 0.9em;
}

#nameInput {
	margin: 0 0.5em;
}

#formContainer {
	height: 3em;

	#form {
		margin: 0;
	}
}

#issuesContainer {

	var {
		font-style: normal;
	}

	.hideIssues {
		float: right;
		line-height: 1.9em;
		margin-left: 1em;
	}


	.noneMessage {
		.muted;
	}

	.issueId {
		display: inline-block;
		text-align: right;
		width: 100px;
		margin-left: -85px;
	}

	.issuesList li:hover .description {
		.hovered;
	}

	.myself {
		color: #fff;
		background-color: #666;
		padding: 0 0.3em;
	}

	.highlighted {
		background-color: #E2E9E5;
		.transition(background-color 1s);
	}

	.closed .description,
	.closed .assignee {
		text-decoration: line-through;
	}
}

#messages li,
#issuesContainer .issuesList li {
	position: relative;
}

// TODO: introduce detail-on-hover class
#messages .details,
#issuesContainer .issuesList .details {
	color: @gray;
	display: none;
	padding-left: 0.5em;
	font-size: small;
	font-style: normal;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background-color: rgba(255,255,255,0.95);
}
#messages li:hover .details,
#issuesContainer .issuesList li:hover .details {
	display: inline;
}


.tag {
	@bg: #999;

	padding: 0 5px 2px;
	.border-radius(3px);
	font-size: small;
	color: white;
	background-color: @bg;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	vertical-align: baseline;
	.clickable;

	&:hover {
		background-color: darken(@bg, 10%);
	}
}

.fixed {
	position: fixed;
	padding: 0.3em 3em 1em;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	#gradient > .vertical-three-colors(white, white, 70%, rgba(255,255,255,0));
	background-color: initial; // override mixin's value
}