	<title>Admin - Omega Issue Tracker</title>
	<script>var data = <%-: projects | json %>;</script>
	<script data-main="js/mainAdmin" src="js/require.js"></script>
</head>
<body>
<div class="container">

<% if (flash.error && flash.error.length) { %>
<div class="alert alert-error alert-fading alert-closable"><%-: flash.error | join %></div>
<% } %>
<% if (flash.info && flash.info.length) { %>
<div class="alert alert-success alert-fading alert-closable"><%-: flash.info | join %></div>
<% } %>
<header class="main-header">
	<h1 class="omega">Ω</h1>
	<h2>Admin</h2>
	<a class="switchProject" href="/">back</a>
</header>

<div>
	<!-- ko foreach: projects -->
	<section class="adminProjectForm">

		<h2 class="adminProjectTitle" data-bind="text: name"></h2> <!-- TODO: support updating name -->
		<p class="createdDate">Created <span data-bind="text: new Date(createdDate).toLocaleString()"></span></p>
		<p><span class="badge badge-info" data-bind="text: issueCount"></span> issue(s)</p>

		<form method="post" data-bind="attr: { action: '/project/' + slug }">
			<input type="hidden" name="_method" value="put" />

			<label><input type="checkbox" name="unlisted" data-bind="checked: unlisted" /> top secret</label>
			<label><input type="checkbox" name="deleted" data-bind="checked: deleted" /> deleted</label>

			<input class="btn" type="submit" value="Save">
		</form>

		<form method="post" data-bind="attr: { action: '/project/' + slug + '/issues' }, submit: $parent.confirmReset">
			<input type="hidden" name="_method" value="delete" />
			<input class="btn btn-danger" type="submit" value="Reset issues">
		</form>
	</section>
	<!-- /ko -->

</div>
