	<title>Omega Issue Tracker</title>
	<script data-main="js/main" src="js/require.js"></script>
</head>
<body>
<div id="header">
	<h1>Ω</h1>
</div>

<div>
	<h2>Welcome</h2>
	<p>Ω is a real-time issue tracker optimized for small teams. <a href="http://github.com/wachunga/omega">Learn more</a></p>
</div>
<div>
	<h2>What are you working on?</h2>
	<form class="newProject" data-bind="submit: submitForm.bind($data)">
		<fieldset>
			<input type="text" id="projectNameInput" tabindex="1" name="projectName" required placeholder="My awesome project">
			<label class="unlistedBox"><input type="checkbox" name="unlisted" /> unlisted</label>
		</fieldset>
		<div class="submitContainer">
			<input type="submit" class="submit" value="Go">
			<span class="loud" data-bind="visible: !!error(), html: error"></span>
		</div>
	</form>

	<% if (projects.length > 0) { %>
	<p>Or maybe one of these projects?</p>
	<ul>
	<% for(var i = 0; i < projects.length; i++) { %>
		<li><a href="<%= projects[i].url %>"><%= projects[i].name %></a></li>
	<% } %>
	</ul>
	<% } %>

	<% if (unlisted > 0) { %>
	<p>Or maybe an unlisted project? (<%= unlisted %> total)</p>
	<% } %>
</div>
