body {
	margin: 3em;
}
#messages {
	border: 1px solid grey;
	height: 20em;
	list-style-type: none;
	padding: 0.3em;
	overflow: auto;
}
#issues {
	list-style-type: none;
	padding: 0.3em;
}
#form {
}
#input {
	width: 100%;
}
#header h1 {
	display: inline;
	margin: 0;
}
#loggedInUser {
	float: right;
	line-height: 3em;
}
.closed {
	background-color: grey;
}