body {
	margin: 3em;
	font-family: 'Open Sans', sans-serif;
}
.subtle {
    color: #666;
}
#header {
	position: relative;	
}
#header h1 {
	display: inline;
	margin: 0;
	font-family: georgia, serif;
	font-size: 5em;
	text-shadow: #ddd 2px 0 2px;
	line-height: 0;
}
#loggedInUser {
	position: absolute;
	right: 0;
	bottom: 0;
	line-height: 2em;
}
#messages {
	height: 15em;
	border: 1px solid grey;
	list-style-type: none;
	padding: 0.3em;
	overflow: auto;
	margin: 0.2em 0;
	font-size: 0.9em;
	resize: vertical;
}
#messages .speaker {
	font-weight: bold;
}
#messages .system {
	font-style: italic;
}
#onlineUsers {
	font-size: 0.9em;
	text-align: right;
}
.onlineUser + .onlineUser:before {
	content: ', ';
}
#form input[type='submit'] {
	position: absolute;
	left: -9999px;
	width: 1px;
	height: 1px;
}
#messageInput {
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#commandList {
	padding: 0.3em;
	background-color: #eee;
	margin: 0;
}
#commandList dt {
	font-family: monospace;
	font-size: 0.9em;
}
#issuesContainer {
	margin-top: 1em;
}
#issuesContainer h2 {
	margin-bottom: 0;
	border-bottom: 1px solid #ccc;
}
#issuesContainer .issueCounts {
	font-size: small;
	font-weight: normal;
}
#issuesContainer var {
	font-style: normal;
}
#issuesContainer .hideIssues {
	float: right;
	line-height: 1.9em;
}
#issuesContainer .noneMessage {
    position: absolute;
    margin-top: 0;
}
#issuesContainer .noneMessage,
#issuesContainer .issuesList {
    margin: 0.5em 0 0 0;
}
#issuesContainer .issuesList {
	list-style-type: none;
	padding: 0;
}
#issuesContainer .issuesList .details {
	display: none;
	font-size: small;
}
#issuesContainer .issuesList li:hover .details {
	display: inline;
}
#issuesContainer .closed .description,
#issuesContainer .closed .assignee {
	text-decoration: line-through;
}
#issuesContainer .critical {
	color: Chocolate;
}
/* darken placeholder text */
input::-webkit-input-placeholder {
    color: #333;
}
input:-moz-placeholder {
    color: #333;
}
